<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/card.css}"/>


</head>
<body>
<div th:include="fragments/style :: nav_navbar"></div>

<div class="container">
    <div class="row text-center mt-5 mb-5">
        <div class="col-lg-4 col-md-6 mb-4" th:each="course : ${courses}">
            <div class="card border border-dark" style="box-shadow: black; filter: drop-shadow(3px 3px 3px black)">
                <div href="" class="card text-dark"> <!-- style="border: 2px solid silver; width: 18rem; filter: drop-shadow(5px 5px 5px black);" -->
                    <img class="card-img-top " th:src="@{/images/SAMPLE.jpg}">
                    <div class="card-body ">
                        <h5 class="card-title" th:text="${course.name}"></h5>
                        <p class="card-text" th:text="${course.description}"></p>
                        <!--
                                            <a th:href="@{../menu/findOne/(id=${menu.id})}" class="btn eBtn btn-primary">Go somewhere</a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="myModal">
    <form th:action="@{/save}" method="post">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Details of Course</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row border-bottom" >
                                <div class="col-md-4 border-right">
                                    <label for="row_semester" class="col-form-label font-weight-bold">Semester</label>
                                    <p id="row_semester"></p>
                                </div>
                                <div class="col-md-4 border-right">
                                    <label for="row_dkname" class="col-form-label font-weight-bold">Navn</label>
                                    <p id="row_dkname"></p>
                                </div>
                                <div class="col-md-4">
                                    <label for="row_name" class="col-form-label font-weight-bold">Name</label>
                                    <p id="row_name"></p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-md-4 border-right">
                                    <label for="row_classCode" class="col-form-label font-weight-bold">Class Code</label>
                                    <p id="row_classCode"></p>
                                </div>
                                <div class="col-md-4 border-right">
                                    <label for="row_ects" class="col-form-label font-weight-bold">ECTS</label>
                                    <p id="row_ects"></p>
                                </div>
                                <div class="col-md-4">
                                    <label for="row_mandatory" class="col-form-label font-weight-bold">Mandatory</label>
                                    <p id="row_mandatory"></p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-md-4 border-right">
                                    <label for="row_lang" class="col-form-label font-weight-bold">Language</label>
                                    <p id="row_lang"></p>
                                </div>
                                <div class="col-md-4 border-right">
                                    <label for="row_lang" class="col-form-label font-weight-bold">Exam Form</label>
                                    <p id="row_examForm"></p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-md-4 border-right">
                                    <label for="row_prerequisites" class="col-form-label font-weight-bold">Prerequisites</label>
                                    <p id="row_prerequisites"></p>
                                </div>
                                <div class="col-md-4 border-right">
                                    <label for="row_learningOutcome" class="col-form-label font-weight-bold">Learning outcome</label>
                                    <p id="row_learningOutcome"></p>
                                </div>
                                <div class="col-md-4">
                                    <label for="row_content" class="col-form-label font-weight-bold">Content</label>
                                    <p id="row_content"></p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-md-4 border-right">
                                    <label for="row_learningActivities" class="col-form-label font-weight-bold">Learning activities</label>
                                    <p id="row_learningActivities"></p>
                                </div>
                                <div class="col-md-4 border-right">
                                    <label for="row_studyperogramme" class="col-form-label font-weight-bold">Study Programme</label>
                                    <p id="row_studyperogramme"></p>
                                </div>
                                <div class="col-md-4">
                                    <label for="row_description" class="col-form-label font-weight-bold">Description</label>
                                    <p id="row_description"></p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-md-4 border-right">
                                    <label for="row_minstudent" class="col-form-label font-weight-bold">Minimum Number of Students</label>
                                    <p id="row_minstudent"></p>
                                </div>
                                <div class="col-md-4 border-right">
                                    <label for="row_expectedNumberOfStudents" class="col-form-label font-weight-bold">Expected number of Students</label>
                                    <p id="row_expectedNumberOfStudents"></p>
                                </div>
                                <div class="col-md-4">
                                    <label for="row_maxNumberOfStudents" class="col-form-label font-weight-bold">Max number of Students</label>
                                    <p id="row_maxNumberOfStudents"></p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-md-4 border-right">
                                    <label for="row_teachers" class="col-form-label font-weight-bold">Teachers</label>
                                    <p id="row_teachers"></p>
                                </div>
                                <div class="col-md-4 border-right">
                                    <label for="row_lastupdate" class="col-form-label font-weight-bold">Last Updated</label>
                                    <p id="row_lastupdate"></p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript" th:src="@{/js/card.js}" src="../../static/js/card.js"></script>

</body>
</html>