<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>


</head>
<body>
<div th:include="fragments/style :: nav_navbar"></div>

<div class="container">
    <h1>Rediger Kursus</h1>
    <form th:action="@{/courses/edit/save/(id=${courseModel.id})}" method="post">

        <!--
        <div class="form-group">
            <label for="disabledcourse_id" class="col-form-label">Id</label>
            <input type="text" class="form-control" id="disabledcourse_id" name="disabledcourse_id" value=""
                   th:field="${courseModel.id}"/>
        </div>
-->
        <div class="form-group">
            <label for="course_semester" class="col-form-label">Semester</label>
            <input type="text" class="form-control" id="course_semester" name="course_semester" value=""
                   th:field="${courseModel.semester}"/>
        </div>
        <!----------------------------------------------------------------------------------------->
        <div class="form-group">
            <label for="course_dkname" class="col-form-label">Navn</label>
            <p id="course_lastUp"></p>
            <input type="text" class="form-control" id="course_dkname" name="course_dkname" value=""
                   th:field="${courseModel.namedanish}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="course_name" name="course_name" value=""
                   th:field="${courseModel.name}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_classCode" class="col-form-label">Class Code</label>
            <input type="text" class="form-control" id="course_classCode" name="course_classCode" value=""
                   th:field="${courseModel.classCode}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_ECTS" class="col-form-label">ECTS</label>
            <input type="text" class="form-control" id="course_ECTS" name="course_ECTS" value=""
                   th:field="${courseModel.ects}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_Mandatory" class="col-form-label">Mandatory</label>
            <input type="text" class="form-control" id="course_Mandatory" name="course_Mandatory" value=""
                   th:field="${courseModel.mandatory}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_languange" class="col-form-label">Languange</label>
            <input type="text" class="form-control" id="course_languange" name="course_languange" value=""
                   th:field="${courseModel.languange}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_minNumberOfStudents" class="col-form-label">minNumberOfStudents</label>
            <input type="text" class="form-control" id="course_minNumberOfStudents" name="course_minNumberOfStudents" value=""
                   th:field="${courseModel.minNumberOfStudents}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_expectedNumberOfStudents" class="col-form-label">expectedNumberOfStudentse</label>
            <input type="text" class="form-control" id="course_expectedNumberOfStudents" name="course_expectedNumberOfStudents" value=""
                   th:field="${courseModel.expectedNumberOfStudents}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_maxNumberOfStudents" class="col-form-label">maxNumberOfStudents</label>
            <input type="text" class="form-control" id="course_maxNumberOfStudents" name="course_maxNumberOfStudents" value=""
                   th:field="${courseModel.maxNumberOfStudents}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_studyprogramme" class="col-form-label">maxNumberOfStudents</label>
            <input type="text" class="form-control" id="course_studyprogramme" name="course_studyprogramme" value=""
                   th:field="${courseModel.studyprogramme}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_description" class="col-form-label">description</label>
            <input type="text" class="form-control" id="course_description" name="course_description" value=""
                   th:field="${courseModel.description}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_prerequisites" class="col-form-label">prerequisites</label>
            <input type="text" class="form-control" id="course_prerequisites" name="course_prerequisites" value=""
                   th:field="${courseModel.prerequisites}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_content" class="col-form-label">content</label>
            <input type="text" class="form-control" id="course_content" name="course_content" value=""
                   th:field="${courseModel.content}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_learningActivities" class="col-form-label">learningActivities</label>
            <input type="text" class="form-control" id="course_learningActivities" name="course_learningActivities" value=""
                   th:field="${courseModel.learningActivities}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_learningOutcome" class="col-form-label">learningOutcome</label>
            <input type="text" class="form-control" id="course_learningOutcome" name="course_learningOutcome" value=""
                   th:field="${courseModel.learningOutcome}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_examForm" class="col-form-label">examForm</label>
            <input type="text" class="form-control" id="course_examForm" name="course_examForm" value=""
                   th:field="${courseModel.examForm}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group">
            <label for="course_numberOfTeachers" class="col-form-label">numberOfTeachers</label>
            <input type="text" class="form-control" id="course_numberOfTeachers" name="course_numberOfTeachers" value=""
                   th:field="${courseModel.numberOfTeachers}"/>
        </div>
        <!------------------------------------------------------------------------------------------>
        <!--
        <div class="form-group">
            <label for="course_teachers" class="col-form-label">teachers</label>
            <input type="text" class="form-control" id="course_teachers" name="course_teachers" value=""
                   th:field="${courseModel.teachers}"/>
        </div>
        -->
        <!------------------------------------------------------------------------------------------>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

</div>
<script src="/webjars/jquery/3.2.1/jquery.js"></script>
<script src="/webjars/popper.js/1.12.9/dist/umd/popper.js"></script>
<script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
</body>
</html>