<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>KEA - Students</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" />

</head>
<body>
<div th:include="fragments/style :: nav_navbar"></div>
<div class="container">
    <h2>All Students</h2>


    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="students : ${students}">
                <td th:text="${students.name}"></td>
                <td th:text="${students.email}"></td>
                <td th:text="${students.username}"></td>
                <td th:text="${students.password}"></td>
                <td th:text="${students.enabled}"></td>
                <td><a th:href="@{../students/findOne/(id=${students.id})}" class="btn btn-primary eBtn">Show More</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item" th:each="p : ${#numbers.sequence(0,students.getTotalPages()-1)}">
            <a th:href="@{../students/(page=${p})}" th:text="${p}" class="nav-link"
               th:classappend="${currentPage}==${p} ? 'active' : ''"></a>
        </li>
    </ul>
    <hr/>
    <!-- The Modals time to shine-->
    <div class="myModal">
        <form th:action="@{/save}" method="post">

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Details of Student</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row border-bottom" >
                                    <div class="col-md-4 border-right">
                                        <label for="row_name" class="col-form-label font-weight-bold">Navn</label>
                                        <p id="row_name"></p>
                                    </div>
                                    <div class="col-md-4 border-right">
                                        <label for="row_email" class="col-form-label font-weight-bold">Email</label>
                                        <p id="row_email"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="row_username" class="col-form-label font-weight-bold">Username</label>
                                        <p id="row_username"></p>
                                    </div>
                                </div>
                                <div class="row border-bottom" >
                                    <div class="col-md-4 border-right">
                                        <label for="row_password" class="col-form-label font-weight-bold">Password</label>
                                        <p id="row_password"></p>
                                    </div>
                                    <div class="col-md-4 border-right">
                                        <label for="row_enabled" class="col-form-label font-weight-bold">Enabled</label>
                                        <p id="row_enabled"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>




</div><!-- End for container div -->
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<script src="/webjars/jquery/3.2.1/jquery.js"></script>
<script src="/webjars/popper.js/1.12.9/dist/umd/popper.js"></script>
<script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
<script type="text/javascript" th:src="@{/js/student.js}" src="../../static/js/student.js"></script>
</body>
<style>

</style>
</html>